.App {
  text-align: center;
  color: white;
  font-family: "montserrat", sans-serif;
  height: 100%;
  position: relative;

  input{
    padding: 10px 40px;
    border: none;
    outline: none;
    margin: 10px;
    border-radius: 3px;
    color: white;
    background-image: linear-gradient(-225deg, #AC32E4, #7918f2, #4801ff);
 }
  ::placeholder{
    color: white;
    opacity: 40%;
  }
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(365deg);
    }
  }
  .loading{
    position: absolute;
    justify-content: center;
    align-content: center;
    top: 100%;
    margin: 90px 0;
    animation: rotate 2s infinite;
    width: 40px;
  }
}

.container{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 10px 80px;
  max-width: 1100;

  .imgsec{
    display: flex;
    color: white;
    justify-content: left;
    align-items: center;
    text-align: left;
    width: 160px;
    margin-right: 50px;
  
    img{
      width: 25px;
      height: 25px;
      margin: 8px;
    }
  }
  .symbol{
    width: 120px;
    text-align: left;
  }
  .supply{
    text-align: left;
    width: 180px;
  }
  .price-change{
    display: flex;
    justify-content: center;
    align-items: center;

    .current-price{
      text-align: left;
      margin-right: 13%;
      width: 80px;
    }
    .mcap-day{
      text-align: left;
      width: 80px;
    }
  }
  .m-cap{
    text-align: left;
  }
}
hr{
  margin: 0 80px
}
@media(max-width: 750px){
  .symbol{
    display: none;
  }
  .m-cap{
    display: none;
  }
}
@media(max-width:600px){
  .container{
    justify-content: space-between;
    margin: 5px 10px;

    .imgsec{
      flex-direction: column;
      text-align: center;
  
      img{
        margin: 0px;
      }
    }
  }
  .price-change{
    flex-direction: column;
    text-align: center;

    .current-price{
      margin-right: 0;
      height: 0px;
    }
  }
  hr{
    margin: 5px;
  }
}
